<h1> Model and Interface In Angualar </h1>

<!--To Do

* What is model
* How to make it
* How to use it
* With model with other life
* Use model with component file
* Use model with service file   

 -->

 <!--Step by step
 * Go to app.component.ts file and define a fuction and also define some object inside that fucntion
 * Now to validate those objects we will make an interface and then we will assign interface with fucntion to validate it's objects
 * Now we will create a service using command and inside that service we will copy above fucntion and interface 
 * We can also create separate file(eg:user.ts) for interface and then we can import that interface in any component.


  -->
