<h1> Add Bootstrap In Angular 10 </h1>

<!--To Do: 
* Add bootstrap in angular 10
* Run command for install bootstrap
* Try with some bootstrap example
* We check and use code from official website of ng-bootstrap
* Below command will install all the library of bootstrap
   * command : ng add @ng-bootstrap/ng-bootstrap
   
 -->
 <!--Note:
* Restart your ng server after installing bootstrap     

 -->
 
<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" (close)="close(alert)">{{ alert.message }}</ngb-alert>
</p>
<p>
  <button type="button" class="btn btn-primary" (click)="reset()">Reset</button>
</p>