<h1> For Loop In Angular</h1>

<!--To Do: 
*Make an array
*Apply for loop with it html table
*Make a array with object 
*Apply for loop with it html table

 -->
<!-- for normal array element -->
<!-- <h4 *ngFor="let item of arrayName">
{{item}}
</h4> -->

<!-- for array of object -->
<!-- <h4 *ngFor="let item of arrayName">
{{item.name}} 
</h4> -->
<!--above  item.name to print name and item.age to print age from array object -->

<!-- now to print name and age both in tabular form -->
<table border="1">
  <tr>
    <td>Name</td>
    <td>Age</td>
  </tr>
  <tr *ngFor="let item of arrayName">
    <td>{{item.name}}</td>
    <td>{{item.age}}</td>
  </tr>
</table>